
.vs/Bank2/v16/.suo

Bank2/bin/Debug/net5.0/Bank2.deps.json

Bank2/bin/Debug/net5.0/Bank2.dll

Bank2/bin/Debug/net5.0/Bank2.pdb

Bank2/bin/Debug/net5.0/Data/Transactions2013.json

Bank2/bin/Debug/net5.0/Logs/Bank.log

Bank2/bin/Debug/net5.0/Newtonsoft.Json.dll

Bank2/bin/Debug/net5.0/ref/Bank2.dll

Bank2/obj/Bank2.csproj.nuget.dgspec.json

Bank2/obj/Debug/net5.0/Bank2.assets.cache

Bank2/obj/Debug/net5.0/Bank2.csproj.AssemblyReference.cache

Bank2/obj/Debug/net5.0/Bank2.csproj.CoreCompileInputs.cache

Bank2/obj/Debug/net5.0/Bank2.csproj.FileListAbsolute.txt

Bank2/obj/Debug/net5.0/Bank2.dll

Bank2/obj/Debug/net5.0/Bank2.pdb

Bank2/obj/Debug/net5.0/ref/Bank2.dll

Bank2/obj/project.assets.json

Bank2/obj/project.nuget.cache

Class1.cs
